# MONGO_URI=mongodb://sayanikaur6_db_user:U4k_ff3h6QJLeq_@ac-gu5bpnz-shard-00-00.8brmucx.mongodb.net:27017,ac-gu5bpnz-shard-00-01.8brmucx.mongodb.net:27017,ac-gu5bpnz-shard-00-02.8brmucx.mongodb.net:27017/?ssl=true&replicaSet=atlas-os15fn-shard-0&authSource=admin&appName=jobrecommend
# CHAT_URI=mongodb://sd6500349_db_user:oItb7X72PZ5Mb5Fs@ac-edcfcoh-shard-00-00.50sdfgy.mongodb.net:27017,ac-edcfcoh-shard-00-01.50sdfgy.mongodb.net:27017,ac-edcfcoh-shard-00-02.50sdfgy.mongodb.net:27017/?ssl=true&replicaSet=atlas-12in15-shard-0&authSource=admin&appName=Chat
# # this is for production, for development we can use the local mongodb connection string
# # RAPIDAPI_KEY=QUxMIFlPVVIgQkFTRSBBUkUgQkVMT05HIFRPIFVT
# RAPIDAPI_KEY=0eb97708e3mshc0d144f87996fdcp15afdejsn1653eb1f4d00

# JWT_SECRET=c7b523c8dd535eba7dc7bc317dcb0c7e59198fcc62307144c66800d62410b1a06945a2f692a6ebe3b5c07631100565c25d41ef374618a96867597d809b19638a
# JWT_EXPIRES_IN=1d
# EMAIL_USER=sayanikaur6@gmail.com
# EMAIL_PASS=linlhobneyjdswxb
# GOOGLE_CLIENT_ID=512870250976-f8is1hq3oosr92e26vo3ddb98s6ldedo.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=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
# SESSION_SECRET=mysupersecret
# FRONTEND_URL=http://localhost:5173